<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
</head>

<body>
    <main class="indexPage">
        <h1 class="indexPage__moto">Stay organized, just login and get more done!</h1>

        <div class="indexPage__logRegForms">
            <div id="login">
                <%- include('./components/login') %>
            </div>

            <div id="registration" style="display: none;">
                <%- include('./components/registration') %>
            </div>
        </div>
    </main>

    <script src="./dist/index.js"></script>
</body>

</html>