<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <link rel="stylesheet" href="./style/dist/index.css">
</head>

<body>
    <nav>

    </nav>

    <main class="tasksPage">
        <h1>Hello</h1>


    </main>

    <footer>

    </footer>

    <script src="./dist/index.js"></script>
</body>

</html>