$borderRadius:0.5rem;
$btnTransition: 0.3s all;
$indexBackgroung:rgba(255, 255, 255, 0.85);

//Media query
$mobileGalaxyS8: 360px;
$mobileIphoneSE: 375px;
$moileIphone12Pro: 390px;
$mobileGalaxyS20:412px;
$tabletSurface: 540px;
// $regularTablet: 768px;
$tabletSurfacePro7: 912px;
$desktopSmall: 1000px;
$middleDesktop: 1250px;
$desktop: 1400px;
$biggerDesktop: 1600px;