<form action="/auth/login" method="POST" class="container__logReg--form">
    <h1>Login</h1>
    <input type="email" name="email" id="email" placeholder="Email" required>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <p><a href="/auth/reset">Forgot password?</a></p>
    <!-- <input type="hidden" name="_csrf" value="<%#- csrf%>"> -->
    <button type="submit">Login</button>
</form>