<form action="/auth/login" method="POST" class="indexPage__logRegForms--form">

    <h1>Login</h1>
    <% if (registError) { %>
        <span class="alert">
            <%- registError %>
        </span>
        <% } %>

            <% if (loginError) { %>
                <span class="alert">
                    <%- loginError %>
                </span>
                <% } %>

                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="hidden" name="_csrf" value="<%- csrf%>">

                    <p onclick="hendleShowFormReg()" class="indexPage__logRegForms--regBtnSwitch">Registration</p>
                    <p><a href="/auth/reset" class="indexPage__logRegForms--forgotPass">Forgot password?</a></p>
                    <button type="submit" class="indexPage__logRegForms--btn">Login</button>
</form>