<form action="/auth/regist" method="POST" class="indexPage__logRegForms--form">
    <h1>Registration</h1>

    <% if (registError) { %>
        <span class="alert">
            <%- registError %>
        </span>
        <% } %>

            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="repeat" placeholder="Confirm" required>
            <input type="text" name="name" placeholder="Name" required>
            <input type="hidden" name="_csrf" value="<%- csrf%>">


            <p>Alredy have user? <span onclick="hendleShowFormLog()"
                    class="indexPage__logRegForms--logBtnSwitch">Login</span>
            </p>

            <button type="submit" class="indexPage__logRegForms--btn">Register</button>
</form>